@import "tailwindcss";

@theme {
  --color-indigo-500: #6366f1;
  --color-violet-600: #7c3aed;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a0a0a;
}

/* Custom scrollbar for a more premium feel */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}